div.App > header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 2rem;
    margin: 0;
    padding: 0;
}

div.App > header > div {
    flex: 0 0 auto;
}

div.App > header > div.title {
    flex: 1 1 auto;
    text-align: center;
}
